@mixin box-shadow {
    -webkit-box-shadow: .5rem .5rem .8rem 0 rgba(0,0,0,0.61);
    -moz-box-shadow: .5rem .5rem .8rem 0 rgba(0,0,0,0.61);
    box-shadow: .5rem .5rem .8rem 0 rgba(0,0,0,0.61);
}

@mixin ja-font {
    font-family: 'M PLUS 1p', sans-serif;
}

@mixin en-font {
    font-family: 'Noto Sans TC', sans-serif;
}

//Media Queary Manager

/*
0 ~ 600px: phone
600 ~ 900: tablet
900 ~ 1200px: tablet landscape
1200 ~ 1800px: [standard]
1800px ~ big deskttop
*/
@mixin respond-phone {
    @media (max-width: 600px) {@content};
}

/*
$brakpoint arguement choice:
~ phone
~ tab-port
~ tab-land
~ big-desktop

1em = 16px
*/
@mixin  respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; // 900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; //1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}; //1800px
    }
}