$color-primary: #0e9a91;
$color-primary-light: #27fbed;
$color-primary-dark: #07636f;
$color-primary-lightest: #d4fffc;

$color-secondary-light: #b0c229;
$color-secondary-dark: #5c7404;

$color-white: #fff;

$color-gray-light: #C7C7C7; 
$color-gray: #A1A1A1;
$color-gray-dark: #6D6D6D;

$color-warning: rgb(248, 140, 39);