$color-primary: #74BDCB;
$color-primary-light: #E7F2F8;
$color-primary-dark: rgb(15, 52, 59);


$color-secondary: #FFA384;
$color-secondary-light: rgb(252, 231, 223);
$color-secondary-dark: rgb(207, 83, 67);

$color-tertiary:rgb(238, 239, 188);
$color-tertiary-light:rgb(244, 247, 214);
$color-tertiary-dark:rgb(149, 206, 135);

$color-white: #fff;

$color-gray-light: rgb(235, 235, 235); 
$color-gray: #A1A1A1;
$color-gray-dark: #6D6D6D;

$color-text-dark: rgb(53, 53, 53);

$color-warning: rgb(248, 140, 39);