$color-primary: #74BDCB;
$color-primary-light: #E7F2F8;
$color-primary-dark: rgb(15, 52, 59);


$color-secondary: #FFA384;

$color-tertiary:#EFE7BC;

$color-white: #fff;

$color-gray-light: #C7C7C7; 
$color-gray: #A1A1A1;
$color-gray-dark: #6D6D6D;

$color-warning: rgb(248, 140, 39);