/*applying the style to the pseudo selectors as well*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style: none;
}

html {
    //this defines the scale of 1rem
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;

}

body {
    box-sizing: border-box;
   
}

::selection {
   
}



