/*applying the style to the pseudo selectors as well*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
a:visited,
a:active,
a:link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

html {
    //this defines the scale of 1rem
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;

}

body {
    box-sizing: border-box;
    width: 100vw;
    position: relative;
}

section {
    width: 100%;
    height: 75rem;
    position: relative;
}

.container {
    position: absolute;
    width: 90%;
    height: 90%;
    @include center;
}

::selection {
   
}



