body {
    @include ja-font;
}

.primary-heading {
    font-size: 5rem;
    color: $color-white;
}

.about {
    .container{
        color: $color-gray-dark;
        font-size: 1.5rem;

        h2 {
            
        }
          
        
    }
    
}
