.about {
    background: $color-primary-light;
    

    .container {
        position: absolute;
        @include center;
        width: 100rem;
        text-align: center;

        div {
            position: absolute;
            @include center;

            h2 {
                margin-bottom: 2rem;
            }
        }
        
    }
}