.about-me {
    background: $color-tertiary-light;
    color:$color-text-dark;
    .container {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 3.5rem;
            
        }
        .triangle-container {
            width: 45rem;
            height: 38rem;
            margin: 3rem 0;
            position: relative;
           
            .quality {
                position: absolute;
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                display: flex;
                margin: 0;

                h3{
                    color: $color-white;
                    font-size: 2.5rem;
                    margin: auto;
                    text-align: center;
                }

                &:nth-child(1){
                    background: $color-primary;
                    align-self: flex-end;
                    left:50%;
                    transform: translateX(-50%);
                }
                &:nth-child(2){
                    background: $color-secondary;
                    align-self: flex-start;
                    bottom: 0;
                }
                &:nth-child(3){
                    background: $color-tertiary-dark;
                    align-self: flex-end;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .description {
            display: inline-block;
            font-size: 1.5rem;
            width: 50rem;
        }
    }
}