.about {
    background: $color-primary-light;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {

        width: 50rem;
        
        .description {
            
        }
    }
}