
.work {
    background: $color-secondary-light;
    height: 200rem;

    .container {
        
        height: 190rem;

        h2{
            font-size: 3.5rem;
            color: $color-text-dark;
            text-align: center;
        }

        .work-container {
            margin-top: 5rem;
            height:170rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0 6rem;
            
            
            &__item {
                display: flex;
                align-items: flex-start;
                height: 30rem;
                width: 80rem;
                border: 3px solid $color-secondary;
                background: $color-white;
                
                @include box-shadow;
                
               &:not(:nth-child(1)){
                    margin-top: 3rem;
               }

               &__content-box {
                    width: 35rem;
                    margin: 1rem 2rem;

                    h3 {
                        font-size: 2rem;
                        margin: 1rem 0;
                    }

                    p:not(:nth-child(1)){
                        font-size: 1.2rem;
                        margin-top: .8rem;
                    }

                    a {
                        display: block;
                        color: $color-primary;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                    }
               }

               &__image-box {
                   width: 40rem;
                   height:25rem;
                   align-self: center;
                   justify-self: center;
               }
            }

        }
    }
}